.disnone{
    display: none;
}
.auto-complete-container{
    position: relative;
}
.auto-complete-container .input{

}
.auto-complete-list > li{
    padding:6px 10px;
    line-height:1.2;
    overflow: hidden;
}
.auto-complete-list > .valid-item{
    cursor:pointer;
}
.auto-complete-list > .selected{
    background-color:#efefef;
    font-weight:bold;
}
.auto-complete-list .value, .auto-complete-list .left-text{
    float: left;
    color:#666;
}
.auto-complete-list .right-text{
    float: right;
    color:#f60;
}
.auto-complete-list .history-value{
    color:#39f;
}
.auto-complete-list .operation{
    float: right;
    width:50px;
    font-size:12px;
    text-align: right;
    text-decoration: none;
    font-style:normal;
}
.auto-complete-list .operation > .tip{
    color:#999;
}
.auto-complete-list .operation > .delete-this{
    display: none;
    color:blue;
}
.auto-complete-list .operation:hover > .delete-this{
    display: inline;
}
.auto-complete-list .operation:hover > .tip{
    display: none;
}